<%# La función include() nos permite pasar variables al archivo que estamos incluyendo, en este caso le pasamos una variable "title" para poderla imprimir dentro de la etiqueta <title>, así tenemos un texto en la pestañan del browser. %>
<%- include('partials/head', { title: 'Inicio' }); %>

<body>
	<%- include('partials/navbar'); %>

	<div class="container">
		<div class="jumbotron">
			<h1>Gran Catalogo de Productos</h1>
			<p> Todo lo que buscas esta acá </p> <a class="btn btn-primary btn-lg" href="/">Miralo</a>
		</div>

		<div class="row">
			<% if(products.length > 0) { %>
				<% products.forEach(oneProduct => { %>
					<div class="col-sm-6 col-lg-3">
						<div class="thumbnail">
	      				<img src=<%= '/public/images/products/' + oneProduct.image %> alt="pdto image">
	      				<div class="caption">
	        					<h3><%= oneProduct.name %></h3>
	        					<p><b>$ <%= oneProduct.price %></b></p>
	        					<p><%= oneProduct.shortDescription %></p>
	        					<p>
									<a
										href=<%= '/product/' + oneProduct._id + '/' + oneProduct.slug %>
										class="btn btn-info"
									>
										Detalle
									</a>
								</p>
	      				</div>
	    				</div>
					</div>
				<% }) %>
			<% } else { %>
				<h2 class="alert alert-warning">No se encontraron productos</h2>
			<% } %>
		</div>
	</div>

	<%- include('partials/scripts.ejs') %>
</body>
</html>
